<!DOCTYPE html>
<html ng-app="selectApp">
<head>
  <title>ng-select</title>
  <meta charset="utf-8">
  <script src="../angular.js"></script>
  <script src="script.js"></script>
  <style type="text/css">
    * {
      font-family:'MICROSOFT YAHEI'
    }
  </style>
</head>
<body >

  <div ng-controller="myCtrl">
      <select  ng-model = "myOption"  ng-options = "opt.value as opt.label group by opt.group for opt in myOptions">
          <option value="">-- 请选择 --</option>
      </select>
      <p>{{myOption}}</p>
      <hr>
       <select ng-model="mycity" ng-options="city.name as city.name for city in Cities">
          <option value="">-- 请选择 --</option>
       </select>
       <h1>欢迎来到{{mycity}}</h1>
       <hr>
       <select ng-model="mycity2" ng-options="city as city.name group by city.groupname for city in Cities2">
          <option value="">-- 请选择 --</option>
       </select>
       <h1>欢迎来到{{mycity2.groupname}}{{mycity2.name}}</h1>
  </div>

</body>
</html>







